.bg1{ height: 610px;background-repeat:no-repeat;background-image:url('pic/12.jpg');background-size:100% 100%;background-position:center;}
.bg2{ height: 500px;background-repeat:no-repeat;background-image:url('pic/18.jpg');background-size:100% 100%;background-position:center;}
