.bg1{height: 1000px;width: 100%;background-image:url('pic/1.jpg');background-size:110% 100%;background-repeat:no-repeat;background-position:center left;}
.bg2{height: 900px;background-image:url('pic/2.avif');background-size:110% 100%;background-repeat:no-repeat;background-position:center left;}
.bg3{height: 600px;background-image:url('pic/3.jpg');background-size:140% 120%;background-repeat:no-repeat;background-position:center left;}
.bg03{height: 500px;background-image:url('pic/3.jpg');background-size:120% 100%;background-repeat:no-repeat;background-position: center ;background-attachment:fixed;}





